.chromosomes-container .chromosomes {
  float: left;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.chromosomes-container .chromosomes {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.chromosome {
  text-align: center;
  width: 45px;
}

.haploid {
  width: 50%;
}

.chromosomes-container .chromosomes, .chromosomes-container .texts {
  left: 0!important;
}

.chromosomes-container .chromosomes-mask {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.chromosomes-container .chromosome svg {
  height: 100%;
  width: 100%;
}
