.question-panel {
  padding-top: 70px;

  h1 {
    font-family: Gotham;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #2ffcce;
  }

  .question {
    .row {
      margin-bottom: 0;
    }

    .card-body {
      padding: 0;
    }

    .answer-radio {
      width: 1.5rem;
      display: inline-block;
      vertical-align: middle;

      input {
        cursor: pointer;
      }
    }

    .answer-label {
      width: calc(100% - 1.5rem);
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;

      label {
        margin-bottom: 0;
        cursor: pointer;
        font-size: 16px;
      }
    }
  }
}
